<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="TestModelContainer" connectionString="metadata=res://*/TestModel.csdl|res://*/TestModel.ssdl|res://*/TestModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AZURE-PC;initial catalog=test;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  
    <alias  alias="IClientRepository" type="Spinn.Repository.IClientRepository, Spinn.Repository" />
    
    <container>
      <!--<register type="ISchoolRepository"
                mapTo="CTG.UnitTesting.BL.School.SchoolService, CTG.UnitTesting.BL" />-->
      <register type="IClientRepository"
              mapTo="Spinn.Stub.ClientStub, Spinn.Stub" />
     
      <!--<types>
          <type type="IUnitOfWork"
                mapTo="CTG.UnitTesting.BL.UnitOfWorkAdapter, CTG.UnitTesting.BL">
            -->
      <!-- Will be configured as singleton by the lifetime manager above -->
      <!--
            <lifetime type="singleton" />
          </type>      

        </types>-->
    </container>
    <!--</containers>-->
  </unity>
</configuration>