<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="SpinnModelContainer" connectionString="metadata=res://*/SpinnModel.csdl|res://*/SpinnModel.ssdl|res://*/SpinnModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Spinn;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  
    <alias  alias="IClientRepository" type="Spinn.Repository.IClientRepository, Spinn.Repository" />
    
    <container>
      <!--<register type="IClientRepository"
                mapTo="Spinn.DAL.EF.Repository.ClientRepository,Spinn.DAL.EF" />-->
      <!--<register type="IClientRepository"
              mapTo="Spinn.Stub.ClientStub, Spinn.Stub" />-->
      <register type="IClientRepository"
                mapTo="Spinn.DAL.NHibernate.Repository.ClientRepository,Spinn.DAL.NHibernate" />
          
      <!--<types>
          <type type="IUnitOfWork"
                mapTo="CTG.UnitTesting.BL.UnitOfWorkAdapter, CTG.UnitTesting.BL">
            -->
      <!-- Will be configured as singleton by the lifetime manager above -->
      <!--
            <lifetime type="singleton" />
          </type>      

        </types>-->
    </container>
    <!--</containers>-->
  </unity>
</configuration>